#FieldDetail_Booking_table_header th,.FieldDetail_Booking_table_body td{
	text-align:center;
}
.btn{
	background-image:none;
}
.panel-default>.panel-heading{
	background-image:none;
}
.container{
	padding:0px;
	background: #fff;
}
img{
	border:1px solid #eceded;
}
body{
	background:#f9f8f8;
}
#body{
	padding:0px;
}
.roboto900italic{
		font-family:Roboto;
		font-weight:900;
		font-style:italic;
}
.roboto300{
		font-family:Roboto;
		font-weight:300;
}
.roboto100{
		font-family:Roboto;
		font-weight:100;
}
/* header for all page */
span.white, span.white a{
	color:white;
}
h1.roboto900italic{
	margin:20px 0px;
	color:white;
}
#topnavbar{
	background:#900404;
}
.my-nav{
	margin:5px 0px;
	padding:0px;
}
ul.my-nav li{
	display:inline;
	padding:10px 0px;
}
ul.my-nav li a{
	color:white;
	padding:10px 20px;
}
ul.my-nav li a:hover{
	text-decoration:none;
}
ul.my-nav li:hover{
	background:#4b4444;
}
/* end header for all page */

/* PlayerProfileDetail_Feed */
.feed-photo{
	width: 100%;
	height:150px;
}

/* end PlayerProfileDetail_Feed */

/* TeamInfo_Feed */
#profilePhotoWithCover{
	position: absolute;
	bottom: 20px;
	left: 5px;

}
/* end TeamInfo_Feed */

/* Field Login */
#login-wrapper{
	width:400px;
	height:400px;
	margin:10% auto;
	text-align:center;
	background:black;
	border:2px solid #d6d1d1;
}
#login-header{
	width:100%;
	height:100px;
	background:#900404;
	padding-top:13px;
}
#login-body{
	 width:100%;
	 height:200px;
	 background:white;
	 padding:5%;
}
#login-footer{
	 width:106%;
	 height:100px;
	 border:2px solid #d6d1d1;
	 position:relative;
	 left:-3%;
	 background:white;
	 padding-top:23px;
}
#login-loginBtn{
	 padding:10px 15px;
	 background:none;
	 border:2px solid #900404;
}
.login-textbox{
	width:100%;
	height:50px;
	margin-bottom:10px;
	padding:5px;
	border:2px solid #d6d1d1;
	background:#f1f1f1;
}
/* End Filed Login */